@use '@angular/material' as mat;

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;

  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

html {
  height: 100%;
}

.custom-dialog-container-create-order .mat-mdc-dialog-content.mdc-dialog__content.modal-content{
  max-height: 80vh;
  padding: 0;
}

.custom-dialog-container-create-order .mat-mdc-dialog-content.mdc-dialog__content.modal-content::-webkit-scrollbar{
  display: none;
}
.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled,
.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled.mdc-text-field--invalid{
  background-color: transparent;
}

.mat-mdc-dialog-actions.mdc-dialog__actions.mat-mdc-dialog-actions-align-end button .cls-button.mdc-button.mdc-button--raised.mat-mdc-raised-button.mat-unthemed.mat-mdc-button-base .mdc-button__label{
  color: #4c9950;
}