<div class="mat-elevation-z8">

  <div class="table-header">
    <h2>Customer</h2>
    <mat-form-field appearance="outline">
      <mat-label>Customer name</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search customers">
    </mat-form-field>    
  </div>

  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="customerName">
      <th mat-header-cell *matHeaderCellDef> Customer Name </th>
      <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="lastOrderDate">
      <th mat-header-cell *matHeaderCellDef> Last Order Date </th>
      <td mat-cell *matCellDef="let element"> {{element.lastOrderDate | date:'dd/MM/yyyy' }} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="nextOrderDatePrediction">
      <th mat-header-cell *matHeaderCellDef> Next Predicate Order </th>
      <td mat-cell *matCellDef="let element"> {{element.nextPredictedOrder}} </td>
    </ng-container>

    <!-- View Order Column -->
    <ng-container matColumnDef="viewOrder">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button class="cls-view_detail" mat-button (click)="viewOrderDetail({custId:element.custId, customerName:element.customerName})">View Orders</button>
      </td>
    </ng-container>

    <!-- New Order Column -->
    <ng-container matColumnDef="newOrder">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button class="cls-create_order" mat-button (click)="newOrder({custId:element.custId, customerName:element.customerName})">New Order</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
